/* tierlist.css */
body {
    background-color: #222;
    color: #fff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    margin: 0;
    min-height: 100vh;
}

.tier-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 1200px;
    margin: auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
}

.tier {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
}

.tier h2 {
    margin: 0;
    padding: 10px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.tier-s {
    background: linear-gradient(to right, #800080, #ba55d3); /* 紫のメタリックな背景 */
}

.tier-a {
    background: linear-gradient(to right, #ffa500, #ff8c00); /* オレンジのメタリックな背景 */
}

.tier-b {
    background: linear-gradient(to right, #ffd700, #ffb90f); /* 金色のメタリックな背景 */
}

.tier-n {
    background: linear-gradient(to right, #704214, #a0522d); /* セピア色のメタリックな背景 */
}

.tier-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.tier-item {
    flex: 1 1 20%; /* 5つのアイテムを横並びにするため20%の幅 */
    max-width: 20%;
    box-sizing: border-box;
    padding: 10px;
}

.tier-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 正方形に切り取る */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s;
}

.tier-item img:hover {
    transform: scale(1.05); /* 画像にホバー時の拡大効果 */
}

/* 説明ボックスのスタイル */
#description-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 60%;
    text-align: center;
    z-index: 1000;
    display: none; /* 初期状態では非表示 */
    pointer-events: none; /* テキストボックスにマウスイベントを通さない */
}

/* ボタンのスタイル */
.button-container {
    display: flex;
    justify-content: center;
    margin: 20px 0; /* 上下に余白を追加 */
}

.cta-button {
    background-color: #00c853; /* 明るい緑色でボタンを目立たせる */
    color: #fff;
    padding: 15px 30px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
}

.cta-button:hover {
    background-color: #00e676; /* ホバー時の色をさらに明るく */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}
